src/pubtext/charlist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="charlist">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" ref="entitygroups"/>
        <xs:element minOccurs="0" ref="mathvariants"/>
        <xs:element minOccurs="0" ref="unicodeblocks"/>
        <xs:element ref="character"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="character">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="unicodedata"/>
        <xs:element minOccurs="0" ref="afii"/>
        <xs:element minOccurs="0" ref="latex"/>
        <xs:element minOccurs="0" ref="varlatex"/>
        <xs:element minOccurs="0" ref="mathlatex"/>
        <xs:element minOccurs="0" ref="Elsevier"/>
        <xs:element minOccurs="0" ref="AMS"/>
        <xs:element minOccurs="0" ref="APS"/>
        <xs:element minOccurs="0" ref="ACS"/>
        <xs:element minOccurs="0" ref="AIP"/>
        <xs:element minOccurs="0" ref="IEEE"/>
        <xs:element minOccurs="0" ref="Wolfram"/>
        <xs:element minOccurs="0" ref="Springer"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="entity"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="font"/>
        <xs:element minOccurs="0" ref="comment"/>
        <xs:element minOccurs="0" ref="surrogate"/>
        <xs:element minOccurs="0" ref="bmp"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="operator-dictionary"/>
        <xs:element ref="description"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attribute name="dec" default="0"/>
      <xs:attribute name="mode" default="unknown">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="math"/>
            <xs:enumeration value="text"/>
            <xs:enumeration value="mixed"/>
            <xs:enumeration value="unknown"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="image">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" default="other">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="alphabetic"/>
            <xs:enumeration value="binaryop"/>
            <xs:enumeration value="closing"/>
            <xs:enumeration value="diacritic"/>
            <xs:enumeration value="large"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="opening"/>
            <xs:enumeration value="punctuation"/>
            <xs:enumeration value="relation"/>
            <xs:enumeration value="other"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="unicodedata">
    <xs:complexType>
      <xs:attribute name="category"/>
      <xs:attribute name="combclass"/>
      <xs:attribute name="bidi"/>
      <xs:attribute name="decomp"/>
      <xs:attribute name="decimal"/>
      <xs:attribute name="digit"/>
      <xs:attribute name="numeric"/>
      <xs:attribute name="mirror"/>
      <xs:attribute name="unicode1"/>
      <xs:attribute name="comment"/>
      <xs:attribute name="upper"/>
      <xs:attribute name="lower"/>
      <xs:attribute name="title"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="latex" type="xs:string"/>
  <!--  LaTeX code to produce glyph -->
  <xs:element name="varlatex" type="xs:string"/>
  <!--  alternative LaTeX code to produce glyph -->
  <xs:element name="mathlatex" type="xs:string"/>
  <!-- LaTeX code math mode code -->
  <xs:element name="font">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="pos" use="required"/>
    </xs:complexType>
  </xs:element>
  <!-- possible font name and position -->
  <xs:element name="surrogate">
    <xs:complexType>
      <xs:attribute name="mathvariant" use="required"/>
      <xs:attribute name="ref" use="required" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bmp">
    <xs:complexType>
      <xs:attribute name="ref" use="required" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="desc"/>
        <xs:element minOccurs="0" ref="htmlsdata"/>
        <xs:element minOccurs="0" ref="htmldesc"/>
        <xs:element minOccurs="0" ref="comment"/>
        <xs:element minOccurs="0" ref="xref"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
      <xs:attribute name="set" use="required"/>
    </xs:complexType>
  </xs:element>
  <!-- a standard entity name -->
  <xs:element name="Elsevier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="desc"/>
        <xs:element minOccurs="0" ref="elsrender"/>
      </xs:sequence>
      <xs:attribute name="grid" use="required"/>
      <xs:attribute name="ent" default=""/>
    </xs:complexType>
  </xs:element>
  <!-- Elsevier grid point,description, and entity name -->
  <xs:element name="AMS" type="xs:string"/>
  <!-- AMS designation -->
  <xs:element name="APS" type="xs:string"/>
  <!-- APS designation -->
  <xs:element name="ACS" type="xs:string"/>
  <!-- ACS designation -->
  <xs:element name="AIP" type="xs:string"/>
  <!-- AIP designation -->
  <xs:element name="IEEE" type="xs:string"/>
  <!-- IEEE designation -->
  <xs:element name="Wolfram">
    <xs:complexType mixed="true">
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <!-- Wolfram designation -->
  <xs:element name="Springer" type="xs:string"/>
  <!-- Springer designation -->
  <xs:element name="description">
    <xs:complexType mixed="true">
      <xs:attribute name="unicode"/>
    </xs:complexType>
  </xs:element>
  <!-- Unicode description -->
  <!--  unicode release or proposal -->
  <xs:element name="afii" type="xs:string"/>
  <!-- AFII glyph ID -->
  <xs:element name="htmlsdata" type="xs:string"/>
  <xs:element name="htmldesc" type="xs:string"/>
  <xs:element name="comment" type="xs:string"/>
  <xs:element name="xref" type="xs:string"/>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="elsrender" type="xs:string"/>
  <xs:element name="entitygroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="group"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="set"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="set">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="fpi"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mathvariants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mathvariant"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mathvariant">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="description" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unicodeblocks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="block"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="block">
    <xs:complexType>
      <xs:attribute name="start" use="required"/>
      <xs:attribute name="end" use="required"/>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="operator-dictionary">
    <xs:complexType>
      <xs:attribute name="form" use="required"/>
      <xs:attribute name="lspace"/>
      <xs:attribute name="rspace"/>
      <xs:attribute name="minsize"/>
      <xs:attribute name="largeop">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="movablelimits">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="stretchy">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="separator">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="accent">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="fence">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
